In [1]:
import pandas as pd

In [4]:
# Load the CSV file
def load_data(filepath, name):
    df = pd.read_csv(filepath, header=None)
    print(f"{name} data loaded successfully with {df.shape[0]} rows and {df.shape[1]} columns.")
    return df

df = load_data("../data/raw/queen-charlotte.csv", "Bridgerton")

Bridgerton data loaded successfully with 101 rows and 1 columns.

In [6]:
# 101 rows and 1 column?
# Inspect the first few rows
print(df.head())

                                                   0
0  ID,Age,Gender,Social_Standing,Wealth_Level,Edu...
1  1,22,Female,Upper,High,College,Strong,8,7,Char...
2  2,30,Male,Middle,Medium,High School,Moderate,5...
3  3,28,Female,Lower,Low,High School,Weak,6,5,Out...
4  4,25,Female,Upper,High,College,Strong,7,6,Char...